﻿@using ScoreBoard.Models;
@model IEnumerable<ScoreBoard.Models.Joueur>

<div class="container text-center w-100">
    @if (Model.Any())
    {
        <div class="row gap-6 w-100">
            @foreach (Joueur joueur in Model)
            {
                <div class="col card p-2 m-2" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">@joueur.Nom, @joueur.Prenom</h5>
                        <div class="card-body">
                            <p class="card-text">@joueur.Courriel</p>
                            <p class="card-text">@joueur.Telephone</p>
                            <p class="card-text">@joueur.Equipe</p>
                        </div>
                    </div>
                    <div>
                        <a class="btn-primary btn" asp-area="" asp-controller="Joueur" asp-action="Modifier" asp-route-joueurId="@joueur.Id">Modifier</a>
                        <a class="btn-danger btn" asp-area="" asp-controller="Joueur" asp-action="Supprimer" asp-route-joueurId="@joueur.Id">Supprimer</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="w-100 mt-5">
            <p>Aucun Joueur</p>
        </div>
    }

</div>
